<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
 <name replace-wildcards="yes">Mosquitto MQTT server on %h</name>
  <service>
   <type>_mcmqtt._tcp</type>
   <port>1883</port>
   <txt-record>info=A MQTT PubSub service! mqtt.org</txt-record>
  </service>
</service-group>